@model Employee

@if (Model != null)
{
    <div class="px-72">
        <div class="px-4 sm:px-0">
            <h1 class="text-2xl font-bold leading-7 text-gray-900">Employee Details</h1>
        </div>
        <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-orange-600">Employee ID</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 text-sky-700 font-bold">@Model.ID</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-orange-600">Name</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 text-sky-700 font-bold">@Model.FirstName @Model.LastName @Model.FatherName</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-orange-600">Tabels</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 text-sky-700 font-bold">@Model.TabelNubmer</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-orange-600">Division</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 text-sky-700 font-bold">@Model.Division.NameDivision</dd>
                </div>
            </dl>
        </div>
    </div>
}
else
{
        <p>Employee not found.</p>
}